#projects {
  background: rgb(163, 204, 204);
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  height: fit-content;
  padding: 20px;
}

.project-headers {
  grid-column: 1 / -1;
  z-index: 1000;
  margin-top: 1em;
  position: relative;
  text-align: center;
  font-size: 4em;
  font-family: "gruppo", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  margin-left: 1em;
}

a {
  text-decoration: none;
}

.project-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  margin-bottom: 3em;
  align-items: center;

  /* Center-align items */
  /* Space around each project item */
}

.project-item img {
  width: 70%; /* Responsive width */
  max-width: 300px; /* Max width to prevent overly large images */
  border-radius: 1em;
  margin-bottom: 0.5em; /* Space between image and text */
  margin-left: 4em;
}
.project-item :first-child {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.project-item:not(:first-child) {
  width: 100%; /* Makes images responsive within their container */
  max-width: 300px; /* Adjust if necessary */
  border-radius: 1em;
  margin-bottom: 0.5em;
  grid-column: 2;
}

.project-item p {
  text-align: center;
  font-family: "gruppo", sans-serif;
  color: white;
  margin-top: 0.5em;
  font-size: 1.5em;
}

@media (max-width: 500px) {
  #projects {
    display: flex;
    flex-direction: column; /* Side-by-side layout on wider screens */
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    /* Distribute space evenly */
  }

  .project-headers {
    margin-top: 0.4em;
    position: relative;
    text-align: center;
    margin-left: -1;
    margin-right: 5em;
    width: 100%;
  }

  .project-item {
    flex: 1; /* Allow items to grow and fill the space */
    max-width: 300px;
    /* Limit width of each item */
  }
}
